{% extends 'base.html' %}
{% block content %}
    {% load resize_to %}
    {% load markdownify %}
    <main class="recipe-detail">
        <div>
            <a href="{% url 'recipe_edit' recipe.id %}">Edit</a>
            <a href="{% url 'recipe_delete' recipe.id %}">Delete</a>
        </div>
        {% if recipe.image %}<img src="{{ recipe.image }}" class="pull-right">{% endif %}
        <h1>{{ recipe.name }}</h1>
        <h2>by: {{ recipe.author | default_if_none:"Unknown" }}</h2>
        <p>
            Created on {{ recipe.created }} |
            Updated on {{ recipe.updated }}
        </p>
        <h2>Rating</h2>
        <form method="post" action="{% url 'recipe_rating' recipe.id %}">
            {% csrf_token %}
            <div class="rating-form-grid">
                {{ rating_form.as_p }}
                <button class="button">Rate</button>
            </div>
        </form>
        <p>
            Tags:
            {% for tag in recipe.tags.all %}
                <a href="{% url 'tag_detail' tag.pk %}">#{{ tag.name }}</a>
            {% endfor %}
        </p>
        <h2>Description:</h2>
        <div>{{ recipe.description | markdownify }}</div>
        <h2>Ingredients</h2>
        {% comment %}
            how does the detail.html page know which recipe it needs to refer to?
            when you go to a detail page, the URL link also provides the pk or id from DB table
            so once you're in the detail page of recipe.pk, any recipes are referred to recipe.pk
        {% endcomment %}
        {% if recipe.servings %}
            Servings: {{ servings | default_if_none:recipe.servings }}
            <form method="GET">
                <input required type="number" name="servingss" min="0">
                {% comment %}
                    input value being set to name="servingss"
                    input value is linked to the below:
                    views.py class RecipeDetailView self.request.GET.get("servingss")
                    also linked to URL
                    in views.py, context["servings"] is linked to servings under if statement
                {% endcomment %}
                <button class="button">Update</button>
            </form>
        {% endif %}
        <table>
            <thead>
                <tr>
                    <th colspan="2">Amount</th>
                    <th>Food item</th>
                </tr>
            </thead>
            <tbody>
                {% for ingredient in recipe.ingredients.all %}
                    <tr>
                        {% comment %} <td>{{ ingredient.amount }}</td> {% endcomment %}
                        <td>{{ ingredient|resize_to:servings }}</td>
                        <td>{{ ingredient.measure.name }}</td>
                        <td>{{ ingredient.food.name }}</td>
                        <td>
                            {% if ingredient.food not in food_in_shopping_list %}
                                {% comment %}
                                food_in_shopping_list pulled from views.py, class RecipeDetailView
                                {% endcomment %}
                                <form method="post" action={% url 'shopping_item_create' %}>
                                    {% comment %}
                                  use POST when creating, updating, deleting
                                  action tells browser what URL to send data to
                                  if no action, then browser POSTs back to current URL
                                    like for CreateView, DeleteView, UpdateView
                                  in this case, DetailView has no POST fxn
                                    it can only respond to GET requests
                                    so we send to shopping_item_create
                                    which HAS a POST fxn
                                  {% url 'shopping_item_create' % }
                                    is equivalent to
                                    recipes/shopping_items/create
                                    {% endcomment %}
                                    {% csrf_token %}
                                    <input type="hidden" name="ingredient_id" value="{{ ingredient.id }}">
                                    {% comment %}
                                  if id value of ingredient is 4, then {{ ingredient.id }} = 4
                                  id is hidden bc it's defaulted to actually show on the html page
                                    {% endcomment %}
                                    <button class="button">+ shopping list</button>
                                </form>
                            {% else %}
                                <p>in your list</p>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Steps</h2>
        <ol>
            {% for step in recipe.steps.all %}<li>{{ step.directions }}</li>{% endfor %}
        </ol>
    </main>
{% endblock content %}
