{% extends 'base.html' %}
{% block content %}
    <main>
        <h1>Your Shopping List</h1>
        <ol>
            {% for shopping_item in ShoppingItems_list %}
                {% comment %}
                ShoppingItem_list pulled from views.py 
                {% endcomment %}
                <li>{{ shopping_item.food_item }}</li>
            {% endfor %}
        </ol>
        <div>
            <form method="post" action={% url 'delete_all_shopping_items' %}>
                {% comment %}
                      use POST when creating, updating, deleting
                      action tells browser what URL to send data to
                      if no action, then browser POSTs back to current URL
                        like for CreateView, DeleteView, UpdateView
                      in this case, DetailView has no POST fxn
                        it can only respond to GET requests
                        so we send to shopping_item_create
                        which HAS a POST fxn
                      {% url 'shopping_item_create' % }
                        is equivalent to
                        recipes/shopping_items/create
                {% endcomment %}
                {% csrf_token %}
                <button class="button">Delete</button>
            </form>
        </div>
    </main>
{% endblock content %}
